@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700&display=swap');

$dark-blue: #262E38;
$light-grey: #969FAD;
$medium-grey: #7C8798;
$orange: #FC7614;
$pure-white: #FFFFFF;
$very-dark-blue: #131518;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2.4rem;

  min-height: 100vh;

  background-color: $very-dark-blue;

  display: grid;
  place-items: center;

  font-family: Overpass, sans-serif;
  font-size: 1.6rem;
  color: $pure-white;
}

.card {
  max-width: 41.2rem;

  padding: 4.5rem 3.2rem;

  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);

  border-radius: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .selected-items {
    padding: 0.6rem 2rem;
    margin-top: 3.2rem;

    background-color: $dark-blue;
    border-radius: 2.25rem;

    > span {
      font-size: 1.5rem;
      color: $orange;
    }
  }

  > h1 {
    margin-top: 4.2rem;

    font-size: 2.8rem;
  }

  > p {
    margin-top: 0.7rem;
    max-width: 340px;

    text-align: center;
    line-height: 2.4rem;
    font-size: 1.5rem;
    color: $light-grey;
  }
}
