@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  display: flex;
  flex-direction: column;
}

header {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1;
}

.button-default {
  display: inline-block;
  padding: 1.4rem 3.2rem;
  background-color: #13183F;
  border-radius: 2.8rem;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.8rem;
}

.button-default:hover {
  background-color: #666CA3;
}

.button-pink {
  display: inline-block;
  padding: 1.4rem 3.2rem;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 2.8rem;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.8rem;
}

.button-pink:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.button-purple {
  display: inline-block;
  padding: 1.4rem 3.2rem;
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  border-radius: 2.8rem;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.8rem;
}

.button-purple:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.hero {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
}
.hero .skill h1 {
  font-size: 40px;
  font-weight: 800;
  color: #13183F;
}
@media (min-width: 1440px) {
  .hero .skill h1 {
    font-size: 56px;
  }
}
.hero .skill p {
  margin-top: 2.6rem;
  color: #83869A;
  font-weight: 500;
  line-height: 2.6rem;
}
.hero .skill a {
  margin-top: 2.4rem;
}
.hero picture img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    align-items: center;
  }
}

.courses {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
.courses .popular-courses {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 1rem;
  padding: 2.4rem;
}
.courses .popular-courses h1 {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 3.2rem;
  color: #FFFFFF;
}
@media (min-width: 1440px) {
  .courses .popular-courses h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 1440px) {
  .courses .popular-courses {
    padding: 6.4rem 3.2rem;
  }
}
.courses .card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 1rem;
  box-shadow: 0 25px 50px rgba(6, 22, 141, 0.0442381);
  padding: 3.2rem 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.courses .card .information img {
  position: absolute;
  top: -2.6rem;
}
.courses .card .information h1 {
  margin-top: 2.4rem;
  font-size: 2rem;
  font-weight: 800;
  color: #13183F;
}
.courses .card .information p {
  margin-top: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: #83869A;
}
.courses .card a {
  display: inline-block;
  margin-top: 2.4rem;
  text-decoration: none;
  color: #F74780;
  font-weight: 700;
  line-height: 2.8rem;
}
@media (min-width: 768px) {
  .courses {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5.6rem;
    grid-column-gap: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }
}

footer {
  margin-top: 8rem;
  background-color: #13183F;
}
footer .container {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding: 3.6rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
